.cubo{
    margin-top: 100px;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: brown;
    transition: 1s;
}

.cubo:hover{
    transition: 1s;
    border-radius: 100%;
    background-color: aqua;
}

body{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.burbujas{
    margin-left: 150px;
    width: 200px;
    height: 200px;
    background-image: url(/Images/burbuja1.png);
    background-size: contain;
    animation: burbujas 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    position: relative;
}


@keyframes burbujas {
    0%{top: 0px;}
    60%{top: 690px;}
    100%{top: 700px; transform: scale(1.5, 0.5);}
}
