body{
    background-image: url(/images/Travel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
    /* display: flex;
    align-items: center; */

}

.boton{
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}

.botoninput{
    height: 50px;
    width: 260px;
    font-size: large;
    color: rgb(255, 255, 255);
    background-color: rgba(3, 53, 217, 0.72);
    border-radius: 5px;
    border-color: azure;

}

input{
    font-size: 16px;
    background-color: rgba(244, 244, 244, 0.578);
    border-radius: 4px;
    border: 1px;
    }

select{
    font-size: 16px;
}


option{
    font-size: 16px;
    color: black;
    /* padding: 10px; */
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

h2{
    text-shadow: 0 5px 15px rgb(84, 20, 20);
    color: rgba(255, 255, 255, 0.971);
}

textarea{
    resize: none;
}

a{
    color: rgb(255, 0, 0);
}

fieldset{
    border-radius: 20px;
    border-color: rgba(213, 222, 232, 0.886)
    
}

.caja2{
    
    background-color: rgba(22, 167, 160, 0.594);
    border-color: rgb(191, 255, 234);
    
}

.caja1{

    background-color: rgba(22, 167, 160, 0.594);
    border-color: rgb(191, 255, 234);
    display: flex;

}

.dividir{
    background-color: rgba(3, 40, 96, 0.417);
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 555px; */

}

form{
    margin: 10px;
    
}


